* {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0px;
  padding: 0px;
}
 body {
   background-color: #ecf0f5;
 }

 .header {
   background-color: rgb(19, 37, 37);
   display: block;
   position: relative;
   width: 100%;
   height: 7vmax;
   margin: auto;
   margin-bottom: 2vmax;
 }

 .header h2 {
   color: rgba(255, 255, 255, 0.95);
   text-align: center;
   top: 2vmin;
 }

 .box {
  color: rgba(255, 255, 255,0.95);
  width: 93%;
  height: 17vmax;
  overflow: hidden;
  margin: auto;
  margin-bottom: 2vmax;
  border-radius: 5px;
}

.box h3 {
  position: relative;
  left: 4vmin;
  top: 3vmin;
}

.commission {
  background-color: #00a65a;
}

.commission p {
  position: relative;
  float: right;
  top: 7.2vmin;
  font-size: 8vmax;
  font-weight: bold;
}

.sales {
  background-color: #14a9ce;
  overflow: hidden;
}


.sales ul {
  position: relative;
  list-style: none;
  left: 4vmin;
  top: 4vmin;
}

.stats {
  background-color: #f39c01;
}

.options {
  background-color: #a60000;
}