{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Commission Tracker</title>
  <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
  <div class="header">
    <h2>Commission Tracker</h2>
  </div>
  <form action="/addSale/" method="post"> {%  csrf_token %}
    <input type="hidden" name="dateSold" value="2019-08-18">  <!-- need to fix date -->
    <select class="add-sale-form" name="numberSold">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <select class="add-sale-form" name="productSold">
      <option class="add-sale-form" value="DirecTV">DirecTV</option>
      <option value="Voice GA">Post-Paid Voice GA</option>
      <option value="Prepaid">AT&T Prepaid</option>
    </select>
    <input class="add-sale-form" type="submit" value="Add">
  </form>
  <div class="commission box">
    <h3>Earnings</h3>
    <p>{{ total_commission }}</p>
  </div> 
  <div class="sales box">
    <h3>Sales</h3>
    <ul>
      {% for sale_item in all_items %}
      <li>{{ sale_item.productSold }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="stats box">
    <h3>Stats/Metrics</h3>
      
  </div> 
  <div class="options box">
    <h3>Options</h3>
  </div>

</body>
</html>
